@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}
body{
  background-color: #DBD3D8;
  
}
.accordion{
  width: 60%;
  background-color: #fff;
  margin: 4rem auto;
  display: flex;
  justify-content: space-between;
  align-items: start;
  border-radius: 5px;
}
.title h1{
  font-size: 2rem;
  margin: 40px 20px;
}
.questions{
  width: 90%;
}
.question{
  background-color: #c4d4d8;
  border-radius: 5px;
  overflow: hidden;
  margin: 20px 20px;
}
.question-title{
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*background-color: #93A7AA;*/
}
.hide{
  display: none;
}
.dark-background{
  background-color: #718285;
  color: #fff;
}
.question-title h3{
  font-size: 1.4rem;
}
.question-title button{
  cursor: pointer;
  font-size: 1.4rem;
  border: none;
  background-color: transparent;
  margin-left: 20px;
}
.question-info p{
  padding: 10px 15px;
}
@media screen and (max-width:900px) {
  .accordion{
    width: 80%;
    flex-direction: column;
  }
  .questions{
    width: 100%;
  }
}
